@import '../config.scss';

.enquiry-img {
  background-image: url("../../assets/images/subscriber-list.jpg");
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  height: 100vh;
}