@use '../../global.scss' as *;

.settings-event-calendar {
    .rmdp-wrapper {
        width: 100%;

        .calendar-wrapper,
        .rmdp-top-class {
            box-shadow: none;
            border: none;
            width: 100%;

            // left side start
            .rmdp-calendar {
                width: 100%;

                // header
                .rmdp-header {
                    button {
                        i {
                            border-color: $theme-color;
                        }
                    }

                    .rmdp-header-values {
                        span.sd {
                            font-size: 1.125rem;
                        }
                    }
                }

                // date picker
                .rmdp-day-picker div {
                    width: 100%;

                    // date row
                    .rmdp-week {
                        gap: 0.5rem;
                        padding: 0.25rem;
                        box-sizing: border-box;

                        // week name 
                        .rmdp-week-day {
                            font-size: 1.125rem;
                            color: $theme-color;
                        }

                        // day
                        .rmdp-day {
                            height: 10rem;
                            margin: 1rem;

                            .sd {
                                height: 100%;
                                justify-content: end;
                            }

                            .sd {
                                .event {
                                    padding: 0.313rem 0.5rem;
                                    background: #ff000029;
                                    text-align: left;
                                    color: red;
                                    border-left: 0.125rem solid;
                                    margin: 0.125rem 0;
                                    box-sizing: border-box;

                                    .name {
                                        font-size: 1rem;
                                        line-height: 1;
                                    }
                                }
                            }

                            .date {
                                font-size: 1.5rem;
                            }

                            span:not(.highlight) {
                                background: none;
                                box-shadow: none;
                                color: $text-color;
                            }
                        }
                    }
                }


                // mont picker
                .rmdp-month-picker {
                    .rmdp-day {
                        margin: 0;
                        height: 100%;

                        span.sd {
                            border-radius: 0.313rem;
                            font-size: 1.25rem;
                        }

                        &.rmdp-selected span.sd {
                            background: $theme-color
                        }

                        &:not(.rmdp-selected):hover span.sd {
                            background: $theme-background-color;
                        }
                    }
                }
            }

            .rmdp-panel.right {
                display: none !important;
            }
        }
    }

    // event popup
    .event-item{
        .event-list{
            position: relative;

            .buttons-wrapper{
                position: absolute;
            }
        }
    }
} 