@use '../../global.scss' as *;

.ui-notice {
    display: flex;
    justify-content: flex-start;
    gap: 0.5rem;

    &.type-success {
        i {
            color: green;
        }
    }

    &.type-error {
        i {
            color: red;
        }
    }

    &.type-info {
        i {
            color: $theme-color;
        }
    }

    &.type-warning {
        i {
            color: yellow;
        }
    }

    &.type-banner {
        padding: 0.5rem;
        text-align: center;
        background: $theme-background-color;
        font-weight: 600;
        font-size: 0.8rem;
        color: $text-color;
        position: relative;
        min-height: 1rem;


        .close-icon {
            position: absolute;
            right: 2rem;
            top: 0.5rem;
            font-size: 1rem;
            cursor: pointer;
        }


        .notice-desc {
            opacity: 0;
            visibility: hidden;
            position: absolute;
            width: 100%;
            transition: none;
            pointer-events: none;
            display: flex;
            justify-content: center;

            @for $i from 1 through 8 {
                &:nth-child(#{$i}) {
                    animation: cycleBanner 16s infinite;
                    animation-delay: #{($i - 1) * 2}s;
                }
            }

            a {
                pointer-events: auto;
            }
        }

        @keyframes cycleBanner {

            0%,
            12.5% {
                opacity: 1;
                visibility: visible;
                pointer-events: auto;
            }

            12.6%,
            100% {
                opacity: 0;
                visibility: hidden;
                pointer-events: none;
            }
        }

        .notice-text,
        .notice-desc {
            font-size: 0.75rem;
        }

        .notice-desc {
            font-weight: 400;
        }

        a {
            color: $theme-color;
            text-decoration: underline;
        }
    }

    // common ui style end

    &.display-float {
        padding: 0.85rem 6rem 0.85rem 0.85rem;
        font-weight: 400;
        position: fixed;
        z-index: 99999;
        background: $background-white;
        box-shadow: $box-shadow;
        right: 1.85rem;
        top: 7rem;
        animation: noticeslide 7s ease-in-out forwards;

        .notice-text {
            font-size: 1rem;
            font-weight: 500;
            line-height: 1.313;
        }

        &.type-success {
            i {
                color: #008000;
                font-size: 1.4rem;
            }
        }

        &.type-error {
            i {
                color: #008000;
                font-size: 1.4rem;
            }
        }
    }

    &.display-inline {
        &.type-success {
            .notice-desc {
                color: green;
            }
        }

        &.type-error {
            .notice-desc {
                color: red;
            }
        }
    }

    &.display-notice:not(.type-banner) {
        background: #ece2f991;
        padding: 0.5rem 0.8rem;
        display: flex;
        align-items: start;
        gap: 0.5rem;
        border: 0.063rem solid $theme-color;
        border-radius: 0.313rem;
        box-sizing: border-box;
        width: fit-content;

        .notice-text {
            font-size: 1.2rem;
            font-weight: 500;
            line-height: 1.5;
        }

        .notice-desc {
            font-size: 0.875rem;
        }
    }

    i {
        font-size: 1.313rem;
        color: $theme-color;
    }
}

@keyframes noticeslide {
    0% {
        transform: translateX(120%);
    }

    10% {
        transform: translateX(0);
    }

    80% {
        transform: translateX(0);
    }

    100% {
        transform: translateX(120%);
    }
}