@use '../global.scss' as *;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.sb-show-main {
  background: #f0f0f1;
}

p {
  font-size: 0.875rem;
  margin: 0;
  line-height: 1.5;
}

a {
  text-decoration: none;
  color: $color-black;
}

// all input style start
.setting-form-input {
  position: relative;

  .parameter {
    position: absolute;
    top: .41rem;
    right: 0.313rem;
    border-left: $border-light-small;
    padding: 0 0.75rem;
    font-size: 0.813rem;
  }
}

.basic-input,
.basic-select,
.rmdp-input {
  width: 100%;
  border: 0.063rem solid #e0e4e9;
  border-radius: 0.25rem;
  padding: 0.313rem 0.5rem;
  background: transparent;
  background-color: transparent;
  font-size: 0.875rem;
  line-height: 1.5;
  min-height: 2rem;

  &:hover {
    background: transparent;
  }

  &:focus {
    outline: none;
  }

}

// all input style end

// button style start
button,
  .main-btn {
    outline: none;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    text-align: center;
    padding: 0.5rem 1rem;
    border-radius: $border-radius-small;
    font-size: 0.875rem;
    transition: all 0.3s linear;
    background: $theme-color;
    color: $color-white;
    width: fit-content;
  
    &.btn-preview {
      padding: 0;
    }
  }

  // button style end

// metabox description start
.settings-metabox-description-code {
  padding: .5rem 1rem;
  margin: .5rem 0;
  background: #fdf9fb;
  color: $theme-color;
  border-left: 0.2rem solid $color-active;
}

.settings-metabox-description {
  margin-top: 0.625rem;
  font-style: italic;
  color: #72727599;
  font-size: 0.813rem;
  width: 100%;

  b {
    color: #000000b7;
  }

  p {
    margin-bottom: 0.5rem;
  }
}

// metabox description end

// pro tag start
.admin-pro-tag {
  font-size: 0.5rem;
  background: $accent-color;
  padding: 0.125rem 0.5rem;
  color: #F9F8FB;
  font-weight: 700;
  line-height: 1.1;
  position: absolute;
  margin-left: 0.25rem;
  border-radius: 2rem 0;
  right: 0.25rem;
  top: 0;
  transform: translateY(-50%);
  width: fit-content;
}

// admin form start
.main-input-wrapper {
  padding: 0.625rem;
  border: 0.063rem solid transparent;
  border-radius: $border-radius-medium;
  display: flex;
  gap: 0.5rem;
  flex-direction: column;

  &:hover,
  &.active {
    border-color: #8c8c8c;
  }

  .multioption-wrapper {
    max-width: 18.75rem;
    width: 100%;

    .option-list-wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.75rem;
      padding: 0.5rem;

      .option-label {
        input {
          background-color: transparent;
          border-radius: 0;
          border: 0.063rem solid rgba($color: #000, $alpha: 9%);
          outline: none;
          box-shadow: none;

          &:focus,
          &:hover {
            box-shadow: 0 0 0 0.126rem rgb(255 255 255), 0 0 0 0.189rem rgb(33 33 33 / 50%);
          }
        }
      }

      .option-control-section {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 0.5rem;

        div {
          cursor: pointer;
        }
      }
    }

    .add-more-option-section {
      background: $menu-color;
      padding: 0.4rem 0.75rem;
      cursor: pointer;
      border-radius: $border-radius-small;
      display: flex;
      align-items: center;
      justify-content: space-between;
      gap: 0.5rem;
      max-width: 11.25rem;
      margin: 0 0.5rem;
    }
  }

  &.recaptcha{
    border:0.063rem solid red;
  }
}


.edit-form-wrapper {
  display: flex;

  p,
  .form-label {
    width: 30%;
    font-size: 0.9rem;

  }

  .settings-form-group-radio {
    width: 70%;
    position: relative;

    input, select {
      background: #d6b5ff21; 
      border-color: #d6b5ff; 
    }
  }
}

.meta-setting-modal {
  position: absolute;
  top: 3.315rem;
  right: 0;
  background: #f8f8f8;
  width: 17.64rem;
  padding: 1rem;
  border: 0.125rem solid rgb(0 0 0 / 12.5%);
  box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 12.5%);
  border-radius: $border-radius-small;
  z-index: 12;

  input[type="checkbox"] {
    width: 1rem ;
    height: 1rem;
    border: $border-light-small;
    border-radius: $border-radius-small ;
    background: $color-white;
    color: #50575e;
    line-height: 0;
    transition: .05s border-color ease-in-out
  }

  .meta-setting-modal-button {
    position: absolute;
    right: -0.756rem;
    top: -0.945rem;
    background: $color-white;
    box-shadow: 0 0.25rem 0.5rem rgb(0 0 0 / 12.5%);
    border-radius: 50%;
    width: 1.563rem;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.25rem;
    cursor: pointer;

    i {
      font-size: 0.975rem;
      color: $theme-color;
    }
  }

  .meta-setting-modal-content {
    h3 {
      padding-bottom: 0.75rem;
      border-bottom: $border-black-small;
      font-size: 0.875rem;
    }

    .setting-modal-content-section {
      padding: 0.75rem 0;
      display: flex;
      align-items: flex-start;
      justify-content: flex-start;
      flex-direction: column;
      width: 100%;
      gap: 0.25rem;
      border-bottom: $border-black-small;
      color: $color-light-black;

      &:last-child {
        border-bottom: none;
      }

      .modal-content-section-field {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 0.5rem;

        .checkbox-container {
          display: flex;
          align-items: center;
          justify-content: flex-start;
          gap: 0.25rem;

          input[type='checkbox'] {
            margin: 0;
            box-shadow: none;
            border: $border-black-small;
            outline: 0;
          }
        }

        select {
          max-width: 6rem;
          width: 100%;
          font-size: 0.75rem;
          padding: 0 0.5rem;
          border: 0;
          outline: 0;
          background-color: $color-white;
          box-shadow: none;

          &:focus {
            box-shadow: none;
          }
        }

        input[type='text'],
        input[type='number'],
        input[type='email'] {
          max-width: 7.5rem;
          background-color: $color-white;
          padding: 0 0.25rem;
          border: none;
          outline: none;
          box-shadow: none;
          width: 100%;
          font-size: 0.75rem;

          &:hover,
          &:focus {
            box-shadow: none;
          }
        }
      }

      .highlight{
        border: 0.063rem solid red;
        background: transparent;
        padding: 0.213rem;
      }
    }
  }
}

// form divider start
.section-divider-container {
  border: $border-black-medius;
  text-align: center;
  font-size: 0.75rem;
  margin: 1.5rem 0;
} // form divider end

// form Elements start
.elements-section {
  background-color: $color-light-black;
  padding: 1rem 0.75rem;
  max-width: 15.625rem;
  position: sticky;
  top: 1.875rem;

  .section-meta {
    margin-bottom: 1rem;

    h2 {
      color: #ffffff7d;
      font-size: 1.25rem;
      font-weight: 500;
    }
  }

  .section-container {
    border: 0.063rem solid #3d3d3d;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 0.75rem;
    border-radius: $border-radius-small;

    .elements-items {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 0.75rem;
      flex-direction: column;
      cursor: pointer;
      padding: 0.625rem;
      color: #ffffff7d;
      box-shadow: 0.31rem 0.31rem 0.938rem #373737b6,0.31rem 0.31rem 0.938rem #43434396;

      i {
        font-size: 1.5rem;
      }

      p {
        font-size: 0.84rem;
      }
    }
  }
} // form Elements end

// section divider start
.setting-section-divider {
  margin: 2rem 0;
  padding: 0;
  border-top: 0.05rem solid rgb(82 44 129 / 9%);
  position: relative;

  .section-hint {
    text-align: center;
    margin-top: 0.813rem;
  }

  span {
    position: absolute;
    top: -0.063rem;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 0 1rem;
    background: $color-white;
  }
} // section divider end

// copy btn start
.copy-btn{
  position: relative;

  .tool-clip{
    width: fit-content;
  }

  .tooltip{
    font-size: 0.625rem;
    position: absolute;
    background: #65438f;
    padding: 0.5rem 0.75rem;
    top: -2rem;
    border-radius: 0.25rem;
    color: #fff;
    display: none;
    width: 7rem;
    left: -50%;
    transform: translateX(-50%);

    &::after {
      position: absolute;
      content: "";
      bottom: -0.189rem;
      transform: translateX(-50%) rotate(45deg);
      width: 0.504rem;
      height: 0.504rem;
      background: $color-active;
      left: 85%;
    }
  }

  &:hover{
    .tooltip{
      display: block;
    }
  }
} // copy btn end

// calender style start

