@use '../../../global.scss' as *;

.item-list {
    padding: 0.5rem 0;

    &.default {
        .item {
            display: flex;
            align-items: end;
            color: #526484;
            font-size: 0.95rem;
            line-height: 0.813;
            font-weight: 500;
            padding: .813rem 1.313rem;
            position: relative;
            gap: 0.5rem;
            cursor: pointer;

            &:hover {
                color: #854fff;
                background: $theme-background-color;
            }

            &.delete {
                color: $accent-color;
                border-top: 0.063rem solid;

                &:hover {
                    background: transparent;
                }
            }
        }
    }

    &.notification {
        margin: 0;
        max-height: 20rem;
        overflow: auto;



        .item {
            display: flex;
            gap: 0.813rem;
            padding: 0.75rem;
            align-items: start;
            border-bottom: $border-light-small;

            &:hover {
                background: #f3f3f3;
            }

            .icon {
                padding: 0.313rem;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;

                i {
                    font-size: 1.5rem;
                }
            }

            i {
                font-size: 1.625rem;
                padding: 0.45rem;
                border-radius: 50%;
            }

            .details {
                span {
                    display: block;
                }

                .heading {
                    font-size: 0.95rem;
                    color: #000;
                }

                .message {
                    color: #00000082;
                    padding: 0.313rem 0;
                }

                .time {
                    font-size: 0.813rem;
                    color: #0000004a;
                }
            }

            .time {
                position: absolute;
                top: 0.5rem;
                right: 0.5rem;
            }
        }
    }

    &.checklist {
        margin: 0;
        display: flex;
        flex-wrap: wrap;

        .item {
            font-size: 0.95rem;
            width: 50%;
            color: #000000db;
            margin-bottom: 0.5rem;

            i {
                font-size: 1.125rem;
                padding-right: 0.5rem;

                &.adminfont-icon-yes {
                    color: green;
                }

                &.adminfont-cross {
                    color: $accent-color;
                }
            }
        }
    }
}