@use '../../../global.scss' as *;

.popover-wrapper {
    position: relative;

    .count {
        position: absolute;
        font-size: 0.75rem;
        right: -0.25rem;
        top: -0.45rem;
        padding: 0.125rem;
        background: $accent-color;
        border-radius: 50%;
        width: 0.75rem;
        height: 0.75rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popover-dropdown {
        position: absolute;
        top: 2rem;
        overflow: hidden;
        border: 0.063rem solid #e5e9f2;
        max-width: 14rem;
        min-width: 14rem;
        right: 0;
        background: #fff;
        border-radius: 0.313rem;
        transition: all 0.3s ease;
        z-index: 9999;

        .popover-body {
            margin: 0;

            .tabs-wrapper {
                padding: 0.75rem;
            }
        }

        .popover-header {
            .title {
                padding: 0.75rem;
                border-bottom: $border-light-small;
                display: flex;
                justify-content: space-between;
                font-size: 1.25rem;
                align-items: center;
            }
        }

        .popover-footer {
            padding: 0.75rem;
            border: $border-light-small;
        }

        &.checkbox {
            ul {
                padding: 0;

                li {
                    padding: 0.625rem;
                }
            }
        }

        .tabs-wrapper{
            padding: 0.75rem;
        }
    }
}

.popover-icon,
.admin-icon {
    font-size: 1.125rem;
    padding: 0.4rem;
    border-radius: 50%;
    cursor: pointer;
    position: relative;

    &:hover {
        background: #e7e6e6cf;
    }
}