/* fonts */
@font-face {
  font-family: 'mvx-admin-font';
  src: url("../fonts/mvx-admin-font.eot?411a7m");
  src: url("../fonts/mvx-admin-font.eot?411a7m#iefix") format("embedded-opentype"), url("../fonts/mvx-admin-font.ttf?411a7m") format("truetype"), url("../fonts/mvx-admin-font.woff?411a7m") format("woff"), url("../fonts/mvx-admin-font.svg?411a7m#ico1") format("svg");
  font-weight: normal;
  font-style: normal;
}

/* map */
/* vendor badge */
/* map box */
/* responsive */
/* icon */
[class^="icon-"],
[class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mvx-admin-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}

.icon-add:before {
  content: "\e900";
}

.icon-approve:before {
  content: "\e901";
}

.icon-close:before {
  content: "\e902";
}

.icon-down-arrow:before {
  content: "\e903";
}

.icon-download:before {
  content: "\e904";
}

.icon-edit:before {
  content: "\e905";
}

.icon-knowledge-topbar:before {
  content: "\e906";
}

.icon-no:before {
  content: "\e907";
}

.icon-search:before {
  content: "\e908";
}

.icon-select-checkbox:before {
  content: "\e909";
}

.icon-yes:before {
  content: "\e90a";
}

.icon-tab-activity-reminder:before {
  content: "\e90b";
}

.icon-tab-announcement:before {
  content: "\e90c";
}

.icon-tab-commissions:before {
  content: "\e90d";
}

.icon-tab-disbursement:before {
  content: "\e90e";
}

.icon-tab-general:before {
  content: "\e90f";
}

.icon-tab-help:before {
  content: "\e910";
}

.icon-tab-knowladgebase:before {
  content: "\e911";
}

.icon-tab-migration:before {
  content: "\e912";
}

.icon-tab-policy:before {
  content: "\e913";
}

.icon-tab-products:before {
  content: "\e914";
}

.icon-tab-products-capability:before {
  content: "\e915";
}

.icon-tab-question-and-answer:before {
  content: "\e916";
}

.icon-tab-refunds:before {
  content: "\e917";
}

.icon-tab-registration-form:before {
  content: "\e918";
}

.icon-tab-report-abuse:before {
  content: "\e919";
}

.icon-tab-reviews-and-rating:before {
  content: "\e91a";
}

.icon-tab-seller-dashbaord:before {
  content: "\e91b";
}

.icon-tab-setup-widget:before {
  content: "\e91c";
}

.icon-tab-social:before {
  content: "\e91d";
}

.icon-tab-SPMV:before {
  content: "\e91e";
}

.icon-tab-store:before {
  content: "\e91f";
}

.icon-tab-store-review:before {
  content: "\e920";
}

.icon-vendor-application:before {
  content: "\e921";
}

.icon-vendor-follower:before {
  content: "\e922";
}

.icon-vendor-payment:before {
  content: "\e923";
}

.icon-vendor-personal:before {
  content: "\e924";
}

.icon-vendor-policy:before {
  content: "\e925";
}

.icon-vendor-shipping:before {
  content: "\e926";
}

.icon-vendor-social:before {
  content: "\e927";
}

.icon-vendor-store:before {
  content: "\e928";
}

.icon-tab-vendor:before {
  content: "\e929";
}

.icon-tab-overview:before {
  content: "\e92a";
}

.icon-tab-product-02:before {
  content: "\e92b";
}

.icon-tab-transaction-history:before {
  content: "\e92c";
}

.icon-tab-paypal-payout:before {
  content: "\e92d";
}

.icon-tab-paypal-masspay:before {
  content: "\e92e";
}

.icon-tab-stripe-connect:before {
  content: "\e92f";
}

.icon-chart-bar:before {
  content: "\e930";
}

.icon-chart-line:before {
  content: "\e931";
}

.icon-dismiss:before {
  content: "\e932";
}

.icon-down-arrow-02:before {
  content: "\e933";
}

.icon-information:before {
  content: "\e934";
}

.icon-vendor-form-add:before {
  content: "\e935";
}

.icon-vendor-form-copy:before {
  content: "\e936";
}

.icon-vendor-form-delete:before {
  content: "\e937";
}

.icon-tab-version-control:before {
  content: "\e938";
}

.icon-tab-system-status:before {
  content: "\e939";
}

.icon-tab-database-tools:before {
  content: "\e93a";
}

.icon-form-url:before {
  content: "\e93b";
}

.icon-form-textbox:before {
  content: "\e93c";
}

.icon-form-textarea:before {
  content: "\e93d";
}

.icon-form-store-description:before {
  content: "\e93e";
}

.icon-form-state:before {
  content: "\e93f";
}

.icon-form-section:before {
  content: "\e941";
}

.icon-form-recaptcha:before {
  content: "\e942";
}

.icon-form-radio:before {
  content: "\e943";
}

.icon-form-postcode:before {
  content: "\e944";
}

.icon-form-phone:before {
  content: "\e945";
}

.icon-form-paypal-email:before {
  content: "\e946";
}

.icon-form-multi-select:before {
  content: "\e947";
}

.icon-form-dropdown:before {
  content: "\e948";
}

.icon-form-checkboxes:before {
  content: "\e949";
}

.icon-form-city:before {
  content: "\e94a";
}

.icon-form-country:before {
  content: "\e94b";
}

.icon-form-attachment:before {
  content: "\e94c";
}

.icon-form-address01:before {
  content: "\e94d";
}

.icon-form-address02:before {
  content: "\e94e";
}

.icon-form-email:before {
  content: "\e94f";
}

.icon-eye-preview:before {
  content: "\e950";
}

/*********** Modules section *********************/
@font-face {
  font-family: 'mvx-module';
  src: url("../fonts/modules/mvx-module.eot?ayxl59");
  src: url("../fonts/modules/mvx-module.eot?ayxl59#iefix") format("embedded-opentype"), url("../fonts/modules/mvx-module.ttf?ayxl59") format("truetype"), url("../fonts/modules/mvx-module.woff?ayxl59") format("woff"), url("../fonts/modules/mvx-module.svg?ayxl59#mvx-module") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="module-"],
[class*=" module-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'mvx-module' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.module-accommodation:before {
  content: "\e900";
}

.module-advance-custom-field:before {
  content: "\e901";
}

.module-announcement:before {
  content: "\e902";
}

.module-auction:before {
  content: "\e903";
}

.module-bank-payment:before {
  content: "\e904";
}

.module-booking:before {
  content: "\e905";
}

.module-buddypress:before {
  content: "\e906";
}

.module-bundle:before {
  content: "\e907";
}

.module-business-hours:before {
  content: "\e908";
}

.module-country-shipping:before {
  content: "\e909";
}

.module-customer-support:before {
  content: "\e90a";
}

.module-distance-shipping:before {
  content: "\e90b";
}

.module-elementor:before {
  content: "\e90c";
}

.module-external:before {
  content: "\e90d";
}

.module-follow-store:before {
  content: "\e90e";
}

.module-geo-my-wp:before {
  content: "\e911";
}

.module-grouped:before {
  content: "\e912";
}

.module-identity-verification:before {
  content: "\e913";
}

.module-import-export:before {
  content: "\e914";
}

.module-invoice:before {
  content: "\e915";
}

.module-knowladgebase:before {
  content: "\e916";
}

.module-live-chat:before {
  content: "\e917";
}

.module-mangopay:before {
  content: "\e918";
}

.module-marketplace-membership:before {
  content: "\e919";
}

.module-marketplace-refund:before {
  content: "\e91a";
}

.module-messaging:before {
  content: "\e91b";
}

.module-paypal-marketplace:before {
  content: "\e91c";
}

.module-paypal-masspay:before {
  content: "\e91d";
}

.module-paypal-payout:before {
  content: "\e91e";
}

.module-per-product-shipping:before {
  content: "\e91f";
}

.module-product-addon:before {
  content: "\e920";
}

.module-razorpay:before {
  content: "\e921";
}

.module-rental:before {
  content: "\e922";
}

.module-report-abuse:before {
  content: "\e923";
}

.module-return-and-warrenty:before {
  content: "\e924";
}

.module-simple:before {
  content: "\e925";
}

.module-spmv:before {
  content: "\e926";
}

.module-staff-manager:before {
  content: "\e927";
}

.module-store-analytics:before {
  content: "\e928";
}

.module-store-location:before {
  content: "\e929";
}

.module-store-policy:before {
  content: "\e92a";
}

.module-store-review:before {
  content: "\e90f";
}

.module-store-seo:before {
  content: "\e92d";
}

.module-stripe-connect:before {
  content: "\e92e";
}

.module-stripe-marketplace:before {
  content: "\e92f";
}

.module-subscription:before {
  content: "\e930";
}

.module-toolset-types:before {
  content: "\e931";
}

.module-vacation:before {
  content: "\e932";
}

.module-variable:before {
  content: "\e933";
}

.module-vendor-shipping:before {
  content: "\e934";
}

.module-weight-shipping:before {
  content: "\e935";
}

.module-wholesale:before {
  content: "\e936";
}

.module-wp-affiliate:before {
  content: "\e937";
}

.module-wpml:before {
  content: "\e938";
}

.module-zone-shipping:before {
  content: "\e939";
}

.module-store-inventory:before {
  content: "\e910";
}

.module-appointment:before {
  content: "\e92b";
}

/*icon end*/
#mvx-admin-dashboard {
  padding: 15px !important;
}

#wpcontent {
  margin-left: 140px !important;
}

.mvx-header-wapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 15px;
  border: 1px solid #d4d1d9;
}

.mvx-header-wapper .mvx-header-nav-right-section {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mvx-header-wapper .mvx-header-nav-left-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mvx-header-wapper .mvx-header-nav-left-section .mvx-logo-img {
  width: 44px;
  margin-right: 20px;
  border-right: 1px solid #d4d1d9;
  padding-right: 15px;
}

.mvx-header-wapper .mvx-header-nav-left-section .mvx-logo-title {
  font-size: 18px;
  font-weight: 500;
}
/*# sourceMappingURL=admin.css.map */